<div id="<%= dom_id real_estate %>">
  <p>
    <strong>Name:</strong>
    <%= real_estate.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= real_estate.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= real_estate.price %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= real_estate.phone_number %>
  </p>

</div>
