<%= link_to "Main page", root_path %>
<%= link_to "New real estate", new_real_estate_path %>
<%= link_to "Search", :search %>
<%= link_to "Profile", :my %>

<h1>New real estate</h1>

<%= render "form", real_estate: @real_estate %>

<br>

<div>
  <%= link_to "Back to real estates", root_path %>
</div>
